<html ng-app="myApp">
<head>
	<meta charset="utf-8" />
	<title>Angular Test</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css" />
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="script.js"></script>
</head>
<body>
<nav>
	<div class="row">
		<div class="col-md-12">
			<h1>Simple Angular JS Application</h1>
		</div>
	</div>
</nav>
<section class="container">
<div class="row">
	<div class="col-md-12" ng-controller="mainController">
		<form class="form-group">
			<input class="form-control" ng-model="myInput" placeholder="Enter something, genius"/>
			<p class="alert" ng-class="{'alert-danger' : myInput.length === 0, 'alert-warning': myInput.length > 0 && myInput.length <= 5, 'alert-success' : myInput.length >5}">{{ "Hello " + myInput }}</p>
			<button class="btn btn-warning" ng-click="submit($event)">Submit</button>
		</form>
	</div>
	<hr />
	<div class="col-md-12" ng-controller="statsController">
		<div ng-repeat="user in users">
			<h3> <span class="glyphicon {{ user.glyph }}" aria-hidden="true"></span> Stats for : {{ user.name | capitalize }} </h3>
			<ul>
				<li>Name: {{ user.name | capitalize }}</li>
				<li>Age: {{ user.age }}</li>
				<li>Profession: {{ user.profession }}</li>
				<li>Hobbies: {{ user.hobbies }}</li>
			</ul>
		</div>
	</div>
</div>
</section>
</body>
</html>